* {
    color: #dfdbdb;
}

.study-theme {
    --mainBackground: #501537;
    --containerBackground: #922D50;
    --studyBackground: #491729;
    --restBackground: #969696;
    --studyButtonMargin: 5px;
    --studyButtonBorder: 5px red solid;
    --restButtonMargin: 0px;
    --restButtonBorder: none;
}

.rest-theme {
    --mainBackground: #253D5B;
    --containerBackground: #67697C;
    --studyBackground: #969696;
    --restBackground: #253D5B;
    --studyButtonMargin: 0px;
    --studyButtonBorder: none;
    --restButtonMargin: 5px;
    --restButtonBorder: 5px red solid;;
}

h1 {
    font-size: 50px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: var(--mainBackground);
}

#studyButton, #restButton {
    flex: 1;
    height: auto;
    border: none;
    font-size: 30px;
    padding: 10px;
}

#studyButton, #restButton {
    background-color: #969696;
}

#studyButton {
    border-bottom: var(--studyButtonBorder);
    margin-top: var(--studyButtonMargin);
    background-color: var(--studyBackground);
}

#restButton {
    border-bottom: var(--restButtonBorder);
    margin-top: var(--restButtonMargin);
    background-color: var(--restBackground);
}

#startButton, #pauseButton {
    height: 95px;
    padding: 30px;
    font-size: 30px;
    border: none;
    flex: 2;
}

#startButton {
    display: block;
    background-color: #26d526;
}

#startButton:hover {
    background-color: #1fb01f;
}

#pauseButton {
    border-bottom: 5px white solid;
    margin-top: 5px;
    display: none;
    background-color: #ff0000;
}

#pauseButton:hover {
    background-color: #c00000;
}

#timerContainer {
    padding: 30px;
    width: 500px;
    height: 300px;
    background-color: var(--containerBackground);
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer {
    font-size: 30px;
}

#timeLeftProgress {
    width: 300px;
}

#progressCircle {
    width: 160px;
    height: 160px;
    position: relative;
}

#progressCircle>*{
    box-sizing: border-box;
}

#outer {
    width: 160px;
    height: 160px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid white;
}

#inner {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

circle {
    fill: none;
    stroke: url(#gradientColor);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim 2s linear forwards;
}


svg {
    position: absolute;
    top: 0;
    left: 0;
}

#buttons {
    width: 80%;
    display: flex;
}